:root {
    --primary-text-color: #212121;
    --title-text-color: #ffff;
    --accent-text-color: #2196f3;
    --header-text-color: #757575;
    --logo-text-color: black;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --backgriund-color: #f5f4fa;
    --border-button-color: rgba(0, 0, 0, 0.15);
    --backgriund-color-footer: #2f303a;
    --color-direction-border: #eeeeee;
    --color-line: #ececec;
    --color-icon: #afb1b8;
    --color-social-icon: #afb1b8;
    --color-backgriund-link: rgba(255, 255, 255, 0.1);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

h1,
h2 {
    color: var(--primary-text-color);
}

h1 {
    color: var(--primary-text-color);
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.header {
    color: var(--primary-text-color);
    display: flex;
    width: 1200px;
}

p {
    color: var(--header-text-color);
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

/*                    Лого + меню                  */

.header {
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: var(--accent-text-color);
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    letter-spacing: 0.03em;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 25px;
    line-height: 1.2;
    margin-right: 93px;
}

span {
    color: var(--logo-text-color);
}

.nav {
    cursor: pointer;
    display: inline-block;
    margin-right: 305px;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 50px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu li {
    padding-top: 32px;
    margin-right: 50px;
}

.menu a {
    color: var(--primary-text-color);
    font-weight: 500;
    text-align: right;
    height: 16px;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
    color: var(--accent-text-color);
}

.contacts {
    display: flex;
    text-align: center;
}

.contacts li {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.tel-link {
    color: var(--primary-text-color);
}

.contacts li:not(:last-child) {
    margin-right: 30px;
}

.contacts a {
    text-decoration: none;
    color: var(--header-text-color);
    padding-bottom: 32px;
    padding-top: 32px;
}

.contacts a:hover,
.contacts a:active,
.contacts a:focus {
    color: var(--accent-text-color);
}

.contacts a:hover .email-link,
.contacts a:active .email-link,
.contacts a:focus .email-link {
    fill: var(--accent-text-color);
}

.contacts a:hover .tel-link,
.contacts a:active .tel-link,
.contacts a:focus .tel-link {
    fill: var(--accent-text-color);
}

.menu-item .current {
    color: var(--accent-text-color);
}

.email-link {
    fill: var(--header-text-color);
    margin-right: 10px;
}

.tel-link {
    color: var(--header-text-color);
    margin-right: 10px;
}

.line {
    width: auto;
    border: 1px solid var(--color-line);
}

/*                     filter                 */

.container {
    cursor: pointer;
}

.menu-btn {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.menu-btn .btn-item:not(:last-child) {
    margin-right: 8px;
}

.btn {
    background: var(--backgriund-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-weight: 500;
    padding: 6px 22px;
    border-radius: 4px;
    text-align: center;
    border: 0;
    font-size: 16px;
    line-height: 1.14;
}

.btn:active,
.btn:hover,
.btn:focus {
    color: var(--title-text-color);
    background: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.menu-btn .btn.current {
    color: var(--title-text-color);
    background: var(--accent-text-color);
}
.sectoin {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*                      Эффективные решения           */

.hero {
    width: 1600px;
    background: linear-gradient(rgba(53, 54, 64, 0.4), rgba(53, 54, 64, 0.4)), url(../img/general.jpg) no-repeat center;
    background-size: cover;
    top: 80px;
    padding-bottom: 200px;
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
}

.business {
    width: 696px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.36;
    font-size: 44px;
    color: var(--title-text-color);
    text-align: center;
    margin: 0 auto;
}

/*                             О нас                       */

.about-block {
    width: 270px;
    margin-right: 30px;
    text-align: left;
}

.about-block:last-child {
    margin-right: 0;
}

.about-block h2 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin-bottom: 10px;
}
.about-icon {
    width: 270px;
    height: 120px;
    background-color: var(--backgriund-color);
    margin-bottom: 30px;
    padding: 25px 100px;
}

.about-icon-link {
    position: absolute;
}

.btn-business {
    font-family: Roboto, sans-serif;
    background-color: var(--accent-text-color);
    text-align: center;
    padding: 10px 32px;
    left: 700px;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--border-button-color);
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.text {
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
}

.about {
    display: flex;
}

/*                    Чем мы занимаемся                 */

.prew {
    padding-top: 0;
}

.title-we-do {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
    margin-bottom: 50px;
}

.we-do {
    display: flex;
}

.we-do-prew {
    margin-right: 30px;
    max-width: 100%;
    display: block;
}

.we-do-prew:last-child {
    margin-right: 0;
}

/*                       Команда              */

.team {
    background: var(--backgriund-color);
}

.text {
    font-style: normal;
    text-align-last: left;
}

/* ----------------------------------project--------------------------------------- */

.our-project {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.direction {
    width: calc(100% / 3 - 30px);
    text-align: left;
    border: 1px solid var(--color-direction-border);
    margin: 15px;
}

.direction img {
    display: block;
    max-width: 100%;
    height: auto;
}

.direction-name {
    padding: 24px 20px;
}

.name-block {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    font-style: normal;
    color: var(--primary-text-color);
    line-height: 1.5;
}

.direction p {
    color: var(--header-text-color);
    font-size: 16px;
    margin-top: 4px;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.88;
}

.direction:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* --------------------------Команда ----------------------- */

.team {
    background-color: var(--backgriund-color);
}

.our-team {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-block {
    display: flex;
    margin-top: 50px;
}

.employees img {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}
.employees {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-text-color);
    max-width: 100%;
    margin-right: 30px;
    padding-bottom: 30px;
}

.employees:last-child {
    margin-right: 0;
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.employees p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.soсial-general {
    display: flex;
    margin-left: 32px;
}

.soсial-icons {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    fill: var(--color-social-icon);
}

.soсial-icons:last-child {
    margin-right: 0;
}

.soсial-link-icon {
    width: 20px;
    height: 20px;
    margin: auto;
    background-repeat: no-repeat;
    fill: var(--color-social-icon);
    transform: translateY(50%);
    display: inline-block;
}

.soсial-icons:hover,
.soсial-icons:focus {
    background-color: var(--accent-text-color);
}

.soсial-icons:hover .soсial-link-icon,
.soсial-icons:focus .soсial-link-icon {
    fill: var(--title-text-color);
}

/*                постоянные клиенты              */

.customer {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}

.customer-list {
    display: flex;
    text-align: center;
    margin-right: -30px;
    margin-top: 50px;
}

.customer-icons {
    padding: 16px 32px;
    border: 1px solid var(--border-button-color);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 30px;
}

.customer-icons:last-child {
    margin-right: 0;
}
.customer-link {
    width: 106px;
    height: 60px;
    text-align: center;
    fill: var(--color-social-icon);
}

.customer-icons:hover,
.customer-icons:active,
.customer-icons:focus {
    border: 1px solid var(--accent-text-color);
}

.customer-icons:hover .customer-link,
.customer-icons:active .customer-link,
.customer-icons:focus .customer-link {
    fill: var(--accent-text-color);
}

/* ----------------------------------------footer--------------------------------- */

.footer {
    background: var(--backgriund-color-footer);
    text-align-last: left;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-contacts-social {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.bottom-logo {
    padding: 0;
}

.our-contacts {
    font-style: normal;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address {
    color: var(--title-text-color);
    text-decoration: none;
}

.logo-footer {
    color: var(--title-text-color);
    text-decoration: none;
}

.our-contacts-block li {
    margin-bottom: 9px;
}

.our-contacts-block li {
    margin-bottom: 9px;
}

.e-mail,
.tel {
    color: var(--contact-text-color);
    text-decoration: none;
}

.our-contacts-block a:active,
.our-contacts-block a:hover,
.our-contacts-block a:focus {
    color: var(--accent-text-color);
}

.footer-social {
    text-align: right;
}

.footer-social-link {
    width: 20px;
    height: 20px;
    fill: var(--title-text-color);
    text-align: center;
}

.footer-text {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: 14px;
    margin-bottom: 20px;
    color: var(--title-text-color);
}

.footer-sosial-general {
    display: flex;
}

.footer-sosial-icons {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--color-backgriund-link);
    fill: var(--backgriund-color-footer);
}

.footer-soslial-link {
    display: inline-block;
    padding: 12px;
}

.footer-social-link-icon {
    width: 20px;
    height: 20px;
    margin: auto;
    background-repeat: no-repeat;
    fill: var(--title-text-color);
}

.footer-sosial-icons:last-child {
    margin-right: 10px;
}

.footer-block {
    margin-right: 70px;
}

.footer-sosial-icons:focus,
.footer-sosial-icons:active,
.footer-sosial-icons:hover {
    background-color: var(--accent-text-color);
}
